
/* I used google fonts to import roboto font here*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*changed font and style of the text*/
.contactus-link, .contactus-title{
    font-size: 2rem;
    font-family: 'roboto', sans-serif;
    font-style: italic;
}
/* made display flex so it is more responsive and to organize the text */
.container{
    display: flex;
    gap:100px;
    flex-wrap: wrap;
}
/* styling of fontawesome icons*/
.fa-solid{
    color: rgb(30,48,80);
    margin: 0 20px 50px 0;
    transition: 0.24s;
}

.contactus-link{
    text-decoration: none;
    color:black;
    transition: 0.24s;
}
/* made the icons change color and be larger when hovered over*/
.contactus-link:hover .fa-solid{
    cursor:pointer;
    color:#0021F5;
    font-size:44px;
}
/* same for the text */
.contact-us .contactus-link:hover{
    cursor:pointer;
    color:#0021F5;
    font-size: 2.1rem;
}

.contactus-title{
    letter-spacing: 5px;
    margin-bottom: 50px;
    font-style: italic;
    
}

@media(max-width:450px){
    .contactus-link{
        font-size: 1.6rem;
    }
    .text .contactus-link:hover{
        cursor:pointer;
        color:#0021F5;
        font-size: 1.7rem;
    }
    .contactus-link:hover .fa-solid{
        cursor:pointer;
        color:#0021F5;
        font-size:42px;
    }

}

